<div class='mt-4'>
  <form
    name='create-form-profile'
    method='POST'
    enctype='multipart/form-data'
    action=''
  >
    <div class='container-form'><a
        href='/me/Teacher/{{file.id_teacher}}/MyHome'
        style='text-decoration: none;'
      >Home</a></div>

    <div class='form-group d-flex align-items-center repair-form-signup'>
      <a
        href='data:{{file.thumbnail.contentType}};base64,{{file.thumbnail.data}}'
        download='{{file.thumbnail.name}}'
        style='text-decoration: none'
      >Thumbnail</a>
    </div>
    {{#each file.document}}
      <div class='form-group d-flex align-items-center repair-form-signup'>
        <a
          href='data:{{this.contentType}};base64,{{this.data}}'
          download='{{this.name}}'
          style='text-decoration: none'
        >{{this.name}}</a>
      </div>
    {{/each}}

    <div class='form-group d-flex align-items-center repair-form-signup'>
      <p>Topic: {{lesson.topic}}</p>
    </div>

    <div class='form-group d-flex align-items-center repair-form-signup'>
      <p>Description: {{lesson.description}}</p>
    </div>

    <div class='form-group d-flex align-items-center repair-form-signup'>
      <embed src='{{lesson.video}}' type='' />
    </div>

    <div class='form-group d-flex align-items-center repair-form-signup'>
      <label
        class='form-label'
        for='customFile'
        style='min-width: 100px;'
      >Document</label>
      <input
        type='file'
        class='form-control'
        id='customFile'
        name='document'
        multiple
      />
    </div>

    <button
      type='submit'
      class='btn btn-primary'
      id='btn-create-profile'
    >Submit</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){ var
  createFormProfile = document.forms['create-form-profile']; var firstname; var
  lastname; var btnCreatProfile = document.getElementById('btn-create-profile');
  $("#firstname").on("input", function() { firstname = $(this).val(); });
  $("#lastname").on("input", function() { lastname = $(this).val(); });
  btnCreatProfile.onclick = function(){ createFormProfile.action = `/teacher/{{user.id_teacher}}/{{user.id_course}}/myLesson`;
  createFormProfile.submit(); } });
</script>