<div class='mt-4'>
  <div class='row'>
    {{#each lesson}}
      <div class='col-sm-6 col-lg-3'>
        <div class='card' style='margin: 16px'>
          <a
            href='/teacher/{{this.id_teacher}}/{{this.id_course}}/{{this._id}}/{{this.topic}}'
          >
            <img
              src='data:{{this.thumbnail.contentType}};base64,{{this.thumbnail.data}}'
              class='card-img-top'
              alt='khoa hoc'
              style='width:  15vw;
                    height: 100px;
                    background-size: cover;'
            />
          </a>
          <div class='card-body'>
            <a
              href='/teacher/{{this.id_teacher}}/{{this.id_course}}/{{this._id}}/{{this.topic}}'
            >
              <h5 class='card-title'>{{this.topic}}</h5>
            </a>
            <p class='card-text'>{{this.description}}</p>
            <a href='/' class='btn btn-primary'>Go somewhere</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>